<div class="container">
<div class="jumbotron page-header">
    
<h1>
   Welcome to My First Calculator ever!!!
</h1>
<h5 id="po">
    Use as you would do with a normal calci!!! except input field is disabled for normal typing...Haha. 
    For negative number try [0-number] method...If error shows up use C and proceed!!More features comming later...
    I am working on it and other bug fixes!!!!!
   

</h5>
<h4 id="dstyle">
-DEEKSHITH ANAND
</h4>

</div>
</div>
<div class="container">
    <app-calci></app-calci>
</div>

<router-outlet></router-outlet>
